<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href= rel="stylesheet" />
    <style type="text/css">
        .imgbook {
            transition: all 1s ease-in;
            width: 400px;
        }

            .imgbook:hover {
                transform: scale(0.9);
                cursor: pointer;
            }

        .imgsachbannhieu {
            width: 100px;
        }
    </style>
</head>
<body>

    @Html.Action("NavPartial")
    

    @Html.Action("SliderPartial")
    <!-- /.container-->
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

                @Html.Action("ChuDePartial")
                <br>

                @Html.Action("NhaXuatBanPartial")

            </div>
            <div class="col-lg-9 col-md-9 colsm-9 col-xs-12">
                @RenderBody()
            </div>
        </div>
        <hr>
    </div>
    <!-- /.container-->
        @RenderSection("SachBanNhieuPartial", required: false)
    <!-- /.container-->
        @Html.Action("FooterPartial")
</body>
</html>
